header {
  width: 100%;
  height: 819px;
  margin: 0 auto;
  background: url("../media/header-background2.png");
  background-repeat: no-repeat;
  background-size: cover; }
  header #header-holder {
    max-width: 1170px;
    height: 819px;
    margin: 0 auto; }
    header #header-holder #top-h {
      width: 100%;
      height: 100px;
      /*background: purple;*/ }
      header #header-holder #top-h #call-us {
        width: 100px;
        height: auto;
        margin-top: 32px;
        float: left; }
        header #header-holder #top-h #call-us a {
          text-decoration: none;
          display: block; }
          header #header-holder #top-h #call-us a img {
            width: 14px;
            float: left;
            margin-right: 4px;
            margin-top: 5px; }
          header #header-holder #top-h #call-us a span {
            font-family: 'Poppins', sans-serif;
            color: #1994ff;
            margin: 0;
            padding: 0;
            font-size: 12pt; }
      header #header-holder #top-h #logo {
        width: 187px;
        height: 45px;
        margin-top: 18px;
        float: right;
        /*background: goldenrod;*/ }
        header #header-holder #top-h #logo img {
          float: right; }
    header #header-holder #center-h {
      width: 100%;
      height: 600px; }
      header #header-holder #center-h #left-c {
        width: 50%;
        height: 380px;
        margin-top: 100px;
        float: left; }
        header #header-holder #center-h #left-c .kruzici {
          width: 100px;
          height: 14px; }
        header #header-holder #center-h #left-c h1 {
          width: 460px;
          margin-top: 30px;
          font-family: 'Lora', serif;
          font-size: 75px;
          font-weight: normal;
          font-style: normal;
          line-height: 100px; }
        header #header-holder #center-h #left-c p {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          margin-top: 21px;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px; }
        header #header-holder #center-h #left-c #cetification {
          width: 450px;
          margin-top: 44px; }
          header #header-holder #center-h #left-c #cetification img {
            height: 44px;
            margin-right: 27px; }
      header #header-holder #center-h #right-c {
        width: 50%;
        height: 380px;
        margin-top: 100px;
        float: right; }
        header #header-holder #center-h #right-c .contact-form-holder {
          width: 425px;
          height: 380px;
          float: right;
          margin-top: 22px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          background: white; }
          header #header-holder #center-h #right-c .contact-form-holder .form {
            width: calc(100% - 100px);
            height: calc(100% - 80px);
            margin: 30px 50px 50px 50px; }
            header #header-holder #center-h #right-c .contact-form-holder .form P {
              font-family: 'Poppins', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px; }
            header #header-holder #center-h #right-c .contact-form-holder .form input[type=text], header #header-holder #center-h #right-c .contact-form-holder .form select, header #header-holder #center-h #right-c .contact-form-holder .form textarea {
              width: 100%;
              height: 41px;
              text-indent: 14px;
              border: 1px solid #C0C0C0;
              box-sizing: border-box;
              margin-top: 15px; }
            header #header-holder #center-h #right-c .contact-form-holder .form .submit {
              width: 100%;
              height: 50px;
              margin-top: 26px;
              background: #1994ff; }
              header #header-holder #center-h #right-c .contact-form-holder .form .submit input {
                width: 100%;
                height: 100%;
                border: none;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 16px;
                background: #1994ff; }

#about {
  max-width: 1170px;
  height: 711px;
  margin: 0 auto; }
  #about #left-a {
    width: 50%;
    height: 411px;
    margin-top: 150px;
    float: left; }
    #about #left-a #mockup-holder {
      width: 547px;
      height: auto;
      float: left; }
      #about #left-a #mockup-holder img {
        width: 100%; }
  #about #right-a {
    width: 50%;
    height: 411px;
    margin-top: 150px;
    float: right; }
    #about #right-a #what-we-do {
      width: 547px;
      height: auto;
      float: right; }
      #about #right-a #what-we-do h2 {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        padding-top: 30px; }
      #about #right-a #what-we-do p {
        height: auto;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        margin-top: 45px;
        padding-left: 24px;
        border-left: 1px solid #303030; }
      #about #right-a #what-we-do .button {
        width: 165px;
        height: 24px;
        margin-left: 24px;
        margin-top: 27px; }
        #about #right-a #what-we-do .button span {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: #1994ff; }
        #about #right-a #what-we-do .button img {
          width: 20px;
          height: 20px;
          float: right;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
      #about #right-a #what-we-do .project-border {
        width: 64px;
        margin-top: 11px;
        margin-left: 24px;
        border-bottom: 1px solid #1994ff; }

#portfolio {
  max-width: 1170px;
  height: auto;
  margin: 0 auto; }
  #portfolio svg {
    float: left; }
  #portfolio .naslov {
    width: 525px;
    height: 50px;
    margin: 50px auto; }
    #portfolio .naslov h2 {
      font-family: 'Lora', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 40px; }
    #portfolio .naslov .portfolio-border {
      width: 373px;
      margin: 0 auto;
      padding-top: 37px;
      border-bottom: 1px solid #303030; }
  #portfolio #primeri {
    width: 100%;
    height: 476px;
    margin-top: 80px; }
    #portfolio #primeri .primer1 {
      width: 362px;
      height: 376px;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    #portfolio #primeri .primer2 {
      width: 446px;
      height: 463px;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      z-index: 10; }
    #portfolio #primeri .primer3 {
      width: 362px;
      height: 376px;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  #portfolio p {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 20px; }
  #portfolio #download {
    width: 324px;
    height: 50px;
    margin: 0 auto; }
    #portfolio #download input[type=text], #portfolio #download select, #portfolio #download textarea {
      font-family: 'Poppins', sans-serif;
      width: 274px;
      height: 50px;
      text-indent: 17px;
      border: none;
      padding: 0;
      outline: none; }
    #portfolio #download .submit-download {
      width: 50px;
      height: 50px;
      float: right;
      background: #1994ff; }
  #portfolio h2 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    color: #303030; }
  #portfolio .customer-border {
    width: 255px;
    margin: 0 auto;
    padding-top: 37px;
    border-bottom: 1px solid #303030; }
  #portfolio #stories {
    max-width: 1170px;
    height: 511px;
    margin: 100px auto; }
    #portfolio #stories .customer-box {
      width: 370px;
      height: 511px;
      float: left;
      margin-right: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: #ffffff; }
      #portfolio #stories .customer-box:last-child {
        margin-right: 0; }
      #portfolio #stories .customer-box .customer-pic {
        width: 100%;
        height: 70px;
        float: left;
        margin-top: 41px; }
        #portfolio #stories .customer-box .customer-pic .pic-holder {
          width: 71px;
          height: auto;
          margin: 0 auto; }
          #portfolio #stories .customer-box .customer-pic .pic-holder img {
            width: 100%; }
      #portfolio #stories .customer-box .customer-name {
        width: 100%;
        height: 20px;
        float: left;
        margin-top: 19px; }
        #portfolio #stories .customer-box .customer-name p {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          margin: 0; }
      #portfolio #stories .customer-box .customer-tec {
        width: 100%;
        height: 50px;
        float: left;
        margin-top: 13px; }
        #portfolio #stories .customer-box .customer-tec p {
          width: 215px;
          height: auto;
          text-align: center;
          margin: 0 auto;
          color: #1994ff; }
      #portfolio #stories .customer-box .customer-story {
        width: 100%;
        height: 230px;
        float: left;
        margin-top: 18px; }
        #portfolio #stories .customer-box .customer-story p {
          width: 300px;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-style: normal;
          font-size: 16px;
          line-height: 26px;
          margin: 0 auto;
          color: #303030; }
  #portfolio #citat {
    max-width: 1170px;
    height: 571px;
    margin: 0 auto; }
    #portfolio #citat #aristotel {
      width: 50%;
      height: 488px;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      #portfolio #citat #aristotel #aristotel-krug {
        width: 488px;
        height: 488px;
        border-radius: 50%;
        overflow: hidden;
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
        #portfolio #citat #aristotel #aristotel-krug img {
          width: 480px;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
    #portfolio #citat #we-are {
      width: 50%;
      height: 488px;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      #portfolio #citat #we-are #drzac-citata {
        width: 100%;
        height: 260px;
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        #portfolio #citat #we-are #drzac-citata #navodnici {
          width: 100%;
          height: 30px; }
        #portfolio #citat #we-are #drzac-citata #citat-text {
          width: 100%;
          height: 150px;
          margin: 0 auto;
          margin-top: 33px; }
          #portfolio #citat #we-are #drzac-citata #citat-text p {
            font-family: 'Lora', serif;
            width: 571px;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 50px;
            text-align: left;
            margin-top: 0;
            color: #7E7E7E; }
            #portfolio #citat #we-are #drzac-citata #citat-text p span {
              color: #1994ff; }
        #portfolio #citat #we-are #drzac-citata .kruzici {
          width: 85px;
          height: 15px;
          margin-top: 30px; }
          #portfolio #citat #we-are #drzac-citata .kruzici img {
            width: 100%; }
  #portfolio #profitable {
    max-width: 1170px;
    height: 550px;
    margin-top: 70px; }
    #portfolio #profitable #digital {
      width: 50%;
      height: 380px;
      float: left; }
      #portfolio #profitable #digital h2 {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        text-align: left;
        margin-top: 35px;
        color: #303030; }
      #portfolio #profitable #digital p {
        width: 100%;
        text-align: left;
        margin-top: 20px;
        color: #303030; }
    #portfolio #profitable #digital-right {
      width: 50%;
      height: 380px;
      float: right; }
      #portfolio #profitable #digital-right .contact-form-holder {
        width: 425px;
        height: 380px;
        float: right;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: white; }
        #portfolio #profitable #digital-right .contact-form-holder .form {
          width: calc(100% - 100px);
          height: calc(100% - 80px);
          margin: 30px 50px 50px 50px; }
          #portfolio #profitable #digital-right .contact-form-holder .form P {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: left;
            line-height: 24px;
            margin-top: 0; }
          #portfolio #profitable #digital-right .contact-form-holder .form input[type=text], #portfolio #profitable #digital-right .contact-form-holder .form select, #portfolio #profitable #digital-right .contact-form-holder .form textarea {
            width: 100%;
            height: 41px;
            text-indent: 14px;
            border: 1px solid #C0C0C0;
            box-sizing: border-box;
            margin-top: 15px; }
          #portfolio #profitable #digital-right .contact-form-holder .form .submit {
            width: 100%;
            height: 50px;
            margin-top: 26px;
            background: #1994ff; }
            #portfolio #profitable #digital-right .contact-form-holder .form .submit input {
              width: 100%;
              height: 100%;
              border: none;
              font-family: 'Poppins', sans-serif;
              font-weight: 500;
              font-size: 16px;
              background: #1994ff; }

footer {
  width: 100%;
  height: 264px;
  float: left;
  z-index: 100;
  background: #e5e5e5; }
  footer #footer-content {
    width: 429px;
    height: 250px;
    margin: 0 auto;
    z-index: 10; }
    footer #footer-content #logo-footer {
      width: 125px;
      height: 81px;
      margin: 0 auto;
      padding-top: 39px;
      z-index: 10; }
    footer #footer-content #footer-adress {
      width: 100%;
      height: auto;
      margin-top: 9px; }
      footer #footer-content #footer-adress p {
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #c1c1c1; }
    footer #footer-content #adress-border {
      width: 100%;
      margin-top: 22px; }
      footer #footer-content #adress-border #border-a {
        width: 187px;
        margin: 0 auto;
        border-bottom: 1px solid #c4c4c4; }
    footer #footer-content #copyright {
      width: 100%;
      height: 20px;
      margin-top: 22px; }
      footer #footer-content #copyright p {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        color: #c1c1c1; }

#brands {
  width: 100%;
  float: left;
  background: #e5e5e5; }
  #brands #brands-holder {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0; }
    #brands #brands-holder .brands-row {
      padding: 20px 0;
      display: flex;
      justify-content: space-between; }
      #brands #brands-holder .brands-row .one-brand {
        width: 25%;
        float: left;
        padding: 20px 0;
        z-index: 10; }
        #brands #brands-holder .brands-row .one-brand img {
          padding: 20px;
          margin: 0 auto;
          display: block;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }

body, html, h1, h2, a, p {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

#wrapper {
  width: 100%;
  height: auto;
  background: #f7f7f7; }
  #wrapper #back {
    position: absolute;
    bottom: 0; }
    #wrapper #back img {
      width: 100%;
      overflow: hidden; }

/*# sourceMappingURL=style.css.map */
