#about {
  max-width: 1170px;
  height: 711px;
  margin: 0 auto;
  //background: yellow;
  #left-a {
    width: 50%;
    height: 411px;
    margin-top: 150px;
    float: left;
   // background: aqua;
    #mockup-holder {
      width: 547px;
      height: auto;
      float: left;
      img {
        width: 100%;
      }
    }
  }
  #right-a {
    width: 50%;
    height: 411px;
    margin-top: 150px;
    float: right;
    //background: cadetblue;
    #what-we-do {
      width: 547px;
      height: auto;
      float: right;
      h2 {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        padding-top: 30px;
      }
      p {
        height: auto;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        margin-top: 45px;
        padding-left: 24px;
        border-left: 1px solid $colorBlack;
        //*background: violet;
      }
      .button {
        width: 165px;
        height: 24px;
        margin-left: 24px;
        margin-top: 27px;
        //*background: #ff3d3d;
        span {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: $colorBlue;
        }
        img {
          width: 20px;
          height: 20px;
          float: right;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .project-border {
        width: 64px;
        margin-top: 11px;
        margin-left: 24px;
        border-bottom: 1px solid $colorBlue;
      }
    }
  }
}

