#brands {
  width: 100%;
  //height: 418px;
  float: left;
  background: #e5e5e5;
  #brands-holder {
    max-width: 1170px;
    //height: 418px;
    margin: 0 auto;
    //background: #ff3d3d;
    padding: 20px 0;
    .brands-row {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      //background: lawngreen;
      .one-brand {
        width: 25%;
        //height: 42px;
        //margin-top: 126px;
        float: left;
        //margin-right: 50px;
        //background: rosybrown;
        padding: 20px 0;
        z-index: 10;
        img {
          padding: 20px;
          margin: 0 auto;
          display: block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
