footer {
  width: 100%;
  height: 264px;
  float: left;
  z-index: 100;
  background: #e5e5e5;
  #footer-content {
    width: 429px;
    height: 250px;
    margin: 0 auto;
    //background: peru;
    z-index: 10;
    #logo-footer {
      width: 125px;
      height: 81px;
      margin: 0 auto;
      padding-top: 39px;
      //background: #1994ff;
      z-index: 10;
      img {

      }
    }
    #footer-adress {
      width: 100%;
      height: auto;
      margin-top: 9px;
      //background: fuchsia;
      p {
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #c1c1c1;
      }
    }
    #adress-border {
      width: 100%;
      margin-top: 22px;
      #border-a {
        width: 187px;
        margin: 0 auto;
        border-bottom: 1px solid #c4c4c4;
      }
    }
    #copyright {
      width: 100%;
      height: 20px;
      margin-top: 22px;
      //*background: lawngreen;
      p {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        color: #c1c1c1;
      }
    }
  }
}
