header {
 width: 100%;
  height: 819px;
  margin: 0 auto;
  background: url("../media/header-background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  //*background: #ff3d3d;
  #header-holder {
    max-width: 1170px;
    height: 819px;
    margin: 0 auto;
    #top-h {
      width: 100%;
      height: 100px;
      /*background: purple;*/
      #call-us {
        width: 100px;
        height: auto;
        margin-top: 32px;
        float: left;
        //*background: gold;
        a {
          text-decoration: none;
          display: block;
          img {
            width: 14px;
            float: left;
            margin-right: 4px;
            margin-top: 5px;
          }
          span {
            font-family: 'Poppins', sans-serif;
            color: $colorBlue;
            margin: 0;
            padding: 0;
            font-size: 12pt;
          }
        }
      }
      #logo {
        width: 187px;
        height: 45px;
        margin-top: 18px;
        float: right;
        /*background: goldenrod;*/
        img {
          float: right;
        }
      }
    }
    #center-h {
      width: 100%;
      height: 600px;
      //*background: royalblue;
      #left-c {
        width: 50%;
        height: 380px;
        margin-top: 100px;
        float: left;
        //*background: greenyellow;
        .kruzici {
          width: 100px;
          height: 14px;
        }
        h1 {
          width: 460px;
          margin-top: 30px;
          font-family: 'Lora', serif;
          font-size: 75px;
          font-weight: normal;
          font-style: normal;
          line-height: 100px;
        }
        p {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          margin-top: 21px;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
        }
        #cetification {
          width: 450px;
          margin-top: 44px;
          //*background: purple;
          img {
            height: 44px;
            margin-right: 27px;
          }
        }
      }
      #right-c {
        width: 50%;
        height: 380px;
        margin-top: 100px;
        float: right;
        //*background: green;
        .contact-form-holder {
          width: 425px;
          height: 380px;
          float: right;
          margin-top: 22px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          background: white;
          .form {
            width: calc(100% - 100px);
            height: calc(100% - 80px);
            margin: 30px 50px 50px 50px;
            //*background: mistyrose;
            P {
              font-family: 'Poppins', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
            }
            input[type=text], select, textarea {
              width: 100%;
              height: 41px;
              text-indent: 14px;
              //*padding: 12px;
              border: 1px solid #C0C0C0;
              box-sizing: border-box;
              margin-top: 15px;
            }
            .submit {
              width: 100%;
              height: 50px;
              margin-top: 26px;
              background: $colorBlue;
              input {
                width: 100%;
                height: 100%;
                border: none;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 16px;
                background: $colorBlue;
              }
            }
          }
        }
      }
    }
  }
}

