#portfolio {
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  //background: coral;
  svg {
    float: left;
  }
  .naslov {
    width: 525px;
    height: 50px;
    margin: 50px auto;
    //background: dodgerblue;
    h2 {
      font-family: 'Lora', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
    }
    .portfolio-border {
      width: 373px;
      margin: 0 auto;
      padding-top: 37px;
      border-bottom: 1px solid $colorBlack;
    }
  }
  #primeri {
    width: 100%;
    height: 476px;
    margin-top: 80px;
    //background: violet;
    .primer1 {
      width: 362px;
      height: 376px;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      //background: lightskyblue;
    }
    .primer2 {
      width: 446px;
      height: 463px;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      z-index: 10;
      //background: khaki;
    }
    .primer3 {
      width: 362px;
      height: 376px;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      //background: lime;
    }
  }
  p {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 20px;
  }
  #download {
    width: 324px;
    height: 50px;
    margin: 0 auto;
    //background: lightcyan;
    input[type=text], select, textarea {
      font-family: 'Poppins', sans-serif;
      width: 274px;
      height: 50px;
      text-indent: 17px;
      border: none;
      padding: 0;
      outline: none;
    }
    .submit-download{
      width: 50px;
      height: 50px;
      float: right;
      background: $colorBlue;
    }
  }
  h2 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    color: $colorBlack;
  }
  .customer-border {
    width: 255px;
    margin: 0 auto;
    padding-top: 37px;
    border-bottom: 1px solid $colorBlack;
  }
  #stories {
    max-width: 1170px;
    height: 511px;
    margin: 100px auto;
    //background: darkolivegreen;
    .customer-box{
      width: 370px;
      height: 511px;
      float: left;
      margin-right: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: #ffffff;
      &:last-child {
        margin-right: 0;
      }
      .customer-pic {
        width: 100%;
        height: 70px;
        float: left;
        margin-top: 41px;
        //*background: rosybrown;
        .pic-holder {
          width: 71px;
          height: auto;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
      }
      .customer-name {
        width: 100%;
        height: 20px;
        float: left;
        margin-top: 19px;
        //background: rebeccapurple;
        p {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          margin: 0;
        }
      }
      .customer-tec {
        width: 100%;
        height: 50px;
        float: left;
        margin-top: 13px;
        //background: lime;
        p {
          width: 215px;
          height: auto;
          text-align: center;
          margin: 0 auto;
          color: $colorBlue;
        }
      }
      .customer-story {
        width: 100%;
        height: 230px;
        float: left;
        margin-top: 18px;
        //background: khaki;
        p {
          width: 300px;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-style: normal;
          font-size: 16px;
          line-height: 26px;
          margin: 0 auto;
          color: $colorBlack;
        }
      }
    }

  }
  #citat {
    max-width: 1170px;
    height: 571px;
    margin: 0 auto;
    //background: orangered;
    #aristotel {
      width: 50%;
      height: 488px;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      //background: aqua;
      #aristotel-krug {
        width: 488px;
        height: 488px;
        border-radius: 50%;
        overflow: hidden;
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        img {
          width: 480px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    #we-are {
      width: 50%;
      height: 488px;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      //background: violet;
      #drzac-citata {
        width: 100%;
        height: 260px;
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        //background: green;
        #navodnici {
          width: 100%;
          height: 30px;
          img {

          }
        }
        #citat-text {
          width: 100%;
          height: 150px;
          margin: 0 auto;
          margin-top: 33px;
          //background: yellow;
          p {
            font-family: 'Lora', serif;
            width: 571px;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 50px;
            text-align: left;
            margin-top: 0;
            color: #7E7E7E;
            span {
              color: $colorBlue
            }
          }
        }
        .kruzici {
          width: 85px;
          height: 15px;
          margin-top: 30px;
          //background: cadetblue;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  #profitable {
    max-width: 1170px;
    height: 550px;
    margin-top: 70px;
    //background: darkred;
    #digital {
      width: 50%;
      height: 380px;
      float: left;
      //background: fuchsia;
      h2 {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        text-align: left;
        margin-top: 35px;
        color: $colorBlack;
      }
      p {
        width: 100%;
        text-align: left;
        margin-top: 20px;
        color: $colorBlack;
      }
    }
    #digital-right {
      width: 50%;
      height: 380px;
      float: right;
      //background: gold;
      .contact-form-holder {
        width: 425px;
        height: 380px;
        float: right;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        //*margin-top: 22px;
        background: white;
        .form {
          width: calc(100% - 100px);
          height: calc(100% - 80px);
          margin: 30px 50px 50px 50px;
          //*background: mistyrose;
          P {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: left;
            line-height: 24px;
            margin-top: 0;
          }
          input[type=text], select, textarea {
            width: 100%;
            height: 41px;
            text-indent: 14px;
            //*padding: 12px;
            border: 1px solid #C0C0C0;
            box-sizing: border-box;
            margin-top: 15px;
          }
          .submit {
            width: 100%;
            height: 50px;
            margin-top: 26px;
            background: $colorBlue;
            input {
              width: 100%;
              height: 100%;
              border: none;
              font-family: 'Poppins', sans-serif;
              font-weight: 500;
              font-size: 16px;
              background: $colorBlue;
            }
          }
        }
      }
    }
  }
}
