$colorBlue: #1994ff;
$colorBlack: #303030;

@import "_header.scss";
@import "_about.scss";
@import "_portfolio.scss";
@import "_footer.scss";
@import "_brands.scss";

body, html, h1, h2, a, p {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  #back {
    position: absolute;
    bottom: 0;
    img {
      width: 100%;
      overflow: hidden;
    }
  }
}

